In [1]:
# int 
var =  123
print var  # printing the data on screen
print type(var)
print id(var)

123
<type 'int'>
39161024

In [2]:
# float
var =  12.000453
print var  # printing the data on screen
print type(var)
print id(var)

12.000453
<type 'float'>
73751536

In [3]:
# complex 
var =  1 + 23j
print var  # printing the data on screen
print type(var)
print id(var)

(1+23j)
<type 'complex'>
68630768

In [4]:
# bool 
var =  True
print var  # printing the data on screen
print type(var)
print id(var)
# bool 
var =  False
print var  # printing the data on screen
print type(var)
print id(var)

True
<type 'bool'>
1402781416
False
<type 'bool'>
1402781000

In [5]:
# None
var =  None
print var  # printing the data on screen
print type(var)
print id(var)

None
<type 'NoneType'>
1402735736

In [6]:
# str
var =  "soc softech"
print var  # printing the data on screen
print type(var)
print id(var)

soc softech
<type 'str'>
74234016

In [7]:
# list 
var =  [12,77,3.23]
print var  # printing the data on screen
print type(var)
print id(var)

[12, 77, 3.23]
<type 'list'>
74301960

In [8]:
# tuple
var =  (12,90,34,6.3)
print var  # printing the data on screen
print type(var)
print id(var)

(12, 90, 34, 6.3)
<type 'tuple'>
74953176

In [9]:
# set 
var =  {12,3.35,3+5j}
print var  # printing the data on screen
print type(var)
print id(var)

set([(3+5j), 3.35, 12])
<type 'set'>
64601224

In [10]:
# dict 
var =  {12:34 , 78.24 : 45}
print var  # printing the data on screen
print type(var)
print id(var)

{78.24: 45, 12: 34}
<type 'dict'>
74965336

In [11]:
# input() --->> to read the data from keywords
# i want to read int & display
var = input("enter int : ")
print var
print type(var)
print id(var)

enter int : 7845
7845
<type 'int'>
65072976

In [12]:
# input() --->> to read the data from keywords
# i want to read float & display
var = input("enter float : ")
print var
print type(var)
print id(var)

enter float : 78.656
78.656
<type 'float'>
73749232

In [ ]:
# read complex data
# read bool
# read Nonetype
# read str, list, tuple, set, dict